*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */
  --blue: hsl(246, 80%, 60%);

  --lightred: hsl(15, 100%, 70%);
  /*(work)*/
  --softblue: hsl(195, 74%, 62%);
  /*(play) */
  --lightred: hsl(348, 100%, 68%);
  /* (study)*/
  --limegreen: hsl(145, 58%, 55%);
  /* (exercise)*/
  --violet: hsl(264, 64%, 52%);
  /* (social)*/
  --softorange: hsl(43, 84%, 65%);
  /* (self care)*/

  /* ### Neutral */

  --verydarkblue: hsl(226, 43%, 10%);
  /* bg -body */
  --darkblue: hsl(235, 46%, 20%);
  /* main hour divs */
  --desaturatedblue: hsl(235, 45%, 61%);
  /* Hover on divs */
  --paleblue: hsl(236, 100%, 87%);

  --white: #ffff;
}

body {
  /* Weights: 300, 400, 500 */
  font-family: "Rubik", sans-serif;
  /* :-> card titles e.g. Work, Play*/
  font-size: 18px;
  background-color: var(--verydarkblue);
  color: #fff;
}

p {
  font-size: 0.8rem;
  color: var(--paleblue);
}

/* <<<>>>>>>>>>>>>>> User <<<>>>>>>>>>>>>>>*/
.user {
  background-color: var(--darkblue);
  width: min(300px, 100vw - 2rem);
  margin-inline: auto;
  /* padding: 1.5rem; */
  border-radius: 10px;
}

.user img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid var(--white);
}

.user h1 {
  font-size: clamp(2rem, 4vw);
}

.user_details {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 10px;
}

.btns {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.btns button {
  font-family: inherit;
  border: none;
  color: var(--desaturatedblue);
  background: none;
}

.btns button:hover {
  color: var(--paleblue);
}

/* <<<>>>>>>>>>>>>>> User <<<>>>>>>>>>>>>>>*/

/* <<<<<<<CARDs>>>>>> */

.card {
  padding: 1.5rem;
  background-color: var(--darkblue);
  border-radius: 10px;
  width: min(250px, 100vw - 2rem);
  margin-inline: auto;
  margin-block: 1rem;
}

.top--card {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top--card img {
  display: block;
  max-width: 1.5rem;
}

.top--card h4 {
  font-weight: 400;
}

.time--now {
  font-size: 2.5rem;
  font-weight: 400;
  padding-block: 1rem;
}

.time--lastweek {
  color: var(--desaturatedblue);
}
/* <<<<<<<CARDs>>>>>> */

@media screen and (width > 600px) {
  .user_details {
    flex-direction: column;
    align-items: flex-start;
  }

  .user {
    width: min(250px, 100vw - 2rem);
    grid-column: 1/3;
  }

  main {
    display: grid;
    align-items: center;
    justify-items: center;
    width: min(500px, 100vw - 2rem);
    margin-inline: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    /* >>>>>>>>>>>>>>>>>>>>>>To remove main margin ?>>>>>>>>>>>>>*/
    margin-block-start: 3rem;
    margin-block-end: 2rem;
  }

  .card {
    margin-block: 0;
  }
}
@media screen and (width > 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user {
    grid-column: 1/1;
    grid-row: 1/3;
  }
  .btns {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  main {
    width: min(700px, 100vw - 2rem);
    grid-template-columns: repeat(4, 1fr);
    /* >>>>>>>>>>>>>>>>>>>>>>To remove main margin ?>>>>>>>>>>>>>*/
    margin-block-start: 15vh;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--paleblue);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: var(--lightred);
}
